/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

/* all formats */
.cvdate {
  float: right;
  font-style: italic;
}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

@media print {
  @page {
      size: a4 portrait;
      counter-increment: page;
      @bottom-center {
        content: counter(page)
      }
    }

  .no-print {
    display: none;
  }

  .print-only {
    text-align: left;
    display: block;
  }

  html {
    font-family: 'Public Sans', sans-serif;
  }

  header {
    margin-bottom: 3em;
  }

  header h1.title {
    font-size: 3em;
    display: none;
  }

  header .author {
    font-size: 2em;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: #36a7e9;
  }
  p {
    font-size: small;
  }

  ul li{
    font-size: smaller;
  }
}
